:root {
    --color-bg-10: white;
    --color-bg-9: rgb(242, 242, 242);
    --color-bg-8: rgb(230, 230, 230);
    --color-bg-7: rgb(217, 217, 217);
    --color-bg-6: rgb(204, 204, 204);
}

body {
    background-color: var(--color-bg-8);
    display: flex;
    margin: 0px;
    color: rgb(32, 32, 32);
}

#app {
    display: flex;
    position: absolute;
    top: 0px;
    width: 100%;
    bottom: 0px
}

nav {
    background-color: var(--color-bg-7);
    display: flex;
    flex-direction: column;
    gap: 1.5mm;
    padding: 3mm 1.5mm;
    align-items: center;
}

p, label {
    margin: 0px;
    font-size: 3.6mm;
    text-wrap: nowrap;
    max-width: 12cm;
    text-overflow: ellipsis;
    align-content: center;
}

h3 {
    margin: 0px;
    padding: 1cm 0px 0px 1cm;
    justify-content: center;
    color: rgb(96, 96, 96);
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

label {
    user-select: none;
    -webkit-user-select: none;
}

input[type="number"],
input[type="text"] {
    background-color: var(--color-bg-10);
    font-size: 3.6mm;
    padding: 1mm;
    color: rgb(64, 64, 64);
    border-radius: 1mm;
    border-width: 0px;
    outline-width: 0px;
    max-width: 12mm;
    height: 5.4mm;
}

input[type="number"]:focus,
input[type="text"]:focus {
    color: black;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2))
}

.message {
    background-color: var(--color-bg-9);
    position: relative;
    padding: 2mm 3mm 2mm 2mm;
    border: 1px solid var(--color-bg-10);
    border-radius: 2mm;
    top: 2mm;
    font-size: 3.6mm;
    margin: 0px auto;
    justify-self: center;
    z-index: 2;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    overflow: hidden;
}

.ok::before {
    content: '●';
    color: rgba(59, 209, 39, 0.5);
    margin-right: 2mm;
}

.error::before {
    content: '×';
    font-weight: bold;
    color: rgb(255, 88, 88);
    margin-right: 2mm;
}

button {
    padding: 1mm;
    display: flex;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 1mm;
    height: 7mm;
    gap: 1mm;
    justify-items: center;
    align-items: center;
    transition: 0.3s;
    user-select: none;
    -webkit-user-select: none;
    /* gpu加速 - macos优化 */
    will-change: filter;
}

button > svg {
    width: 5mm;
    height: 5mm;
}

button:hover {
    border: 1px solid var(--color-bg-10);
    background-color: var(--color-bg-9);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
    /* gpu加速 - macos优化 */
    will-change: filter;
}

button:active {
    background-color: var(--color-bg-10);
    border: 1px solid var(--color-bg-10);
    filter: drop-shadow(0px 0px 8px var(--color-bg-10));
}

button:disabled {
    opacity: 0.5;
}

button:disabled:hover {
    border: 1px solid transparent;
    background-color: transparent;
}

button:active > svg {
    filter:brightness(0.8);
}

#content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    padding: 3mm;
    gap: 3mm;
    transition: 0.5s;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    border-left: 1px solid var(--color-bg-9);
}

.container {
    padding: 2mm;
    gap: 2mm;
    background-color: transparent;
    border: 1px solid var(--color-bg-7);
    border-radius: 3mm;
    display: grid;
    transition: 0.5s;
    /* gpu加速 - macos优化 */
    will-change: filter;
}

#spec-container:hover,
.container-focus {
    background-color: var(--color-bg-9);
    border: 1px solid var(--color-bg-10);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2))
}

#spec-container:active,
#spec-container:focus-within,
.container-focus:active,
.container-focus:focus-within {
    filter: drop-shadow(0px 0px 8px var(--color-bg-10));
}